* {
    color: white;
    padding: 0;
    margin: 0;
}

.tarjetaProductoContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    /* background-color: red; */
    
}
